.rvo-theme {
  background-color: var(--utrecht-document-background-color);
  color: var(--utrecht-document-color);
  font-family: var(--utrecht-document-font-family);
  font-size: var(--utrecht-document-font-size);
  font-weight: var(--utrecht-document-font-weight);
  line-height: var(--utrecht-document-line-height);
}

.form-input-container {
  position: relative;
}

@media (min-width: 1080px) {
  .rvo-theme .rvo-sidebar-layout {
    grid-template-columns: 410px 1fr;
  }
}

.rvo-theme .utrecht-textbox--lg {
  width: 100%;
}

.rvo-theme .small-text {
  font-size: var(--rvo-font-size-xs);
}

.rvo-theme .preserve-whitespace {
    white-space: pre-line;
}

.rvo-theme .button-group-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rvo-theme .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rvo-theme .save-modal {
  background-color: white;
  border-radius: 4px;
  padding: 1.5rem;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.rvo-theme .rvo-icon--with-spacing-right {
  margin-right: 0.5rem;
}

.aiv-definition {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted black;
  cursor: help;
}

.aiv-definition .aiv-definition-text {
  visibility: hidden;
  min-width: 500px;
  max-width: 1000px;
  background-color: var(--rvo-color-wit);
  color: var(--rvo-color-zwart);
  filter: drop-shadow(0 4px 4px rgba(115, 142, 171, 0.5));
  text-align: left;
  border-radius: var(--rvo-border-radius-xl);
  border-color: var(--rvo-color-grijs-200);
  border: 1px;
  padding: var(--rvo-alert-padding-sm-padding-block-end);
  position: absolute;
  z-index: 1;

  /* Position below the term by default */
  top: 100%;
  left: 0;
  margin-top: 5px;

  /* Text styling */
  color: var(--utrecht-document-color);
  font-family: var(--utrecht-document-font-family);
  font-size: var(--utrecht-document-font-size);
  font-weight: var(--utrecht-document-font-weight);
  font-style: normal;
  text-align: left;
  line-height: var(--utrecht-document-line-height);

  /* hack for Safari, https://stackoverflow.com/questions/38762661/css-drop-shadow-not-working-properly-in-safari/75027316#75027316 **/
  backdrop-filter: blur(0);
}

/* Make the tooltip visible on hover */
.aiv-definition:hover .aiv-definition-text {
  visibility: visible;
  opacity: 1;
}

/* Class for when we need to shift the tooltip to the left side */
.aiv-definition.edge-right .aiv-definition-text {
  right: 100%;
  left: auto;
  top: 0;
  margin-top: 0;
  margin-right: 5px;
}

.rvo-theme .rvo-icon--with-spacing-left {
  margin-left: 0.5rem;
}

.rvo-theme .utrecht-textarea,
.rvo-theme .utrecht-textarea--html-textarea {
  resize: vertical; 
  width: 100%; 
  box-sizing: border-box; 
}

.rvo-theme .background-grijs-100 {
  background-color: var(--rvo-color-grijs-100) !important;
}

.rvo-theme .background-grijs-200 {
  background-color: var(--rvo-color-grijs-200) !important;
}

.rvo-theme .card-content-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rvo-theme .card-button {
  margin-top: auto;
}

.rvo-theme .font-hemelblauw {
 color: var(--rvo-color-hemelblauw);
}

.rvo-theme .font-white {
 color: var(--rvo-color-wit);
}
