.rvo-theme {
  background-color: var(--utrecht-document-background-color);
  color: var(--utrecht-document-color);
  font-family: var(--utrecht-document-font-family);
  font-size: var(--utrecht-document-font-size);
  font-weight: var(--utrecht-document-font-weight);
  line-height: var(--utrecht-document-line-height);
}

.form-input-container {
  position: relative;
}

@media (min-width: 1080px) {
  .rvo-theme .rvo-sidebar-layout {
    grid-template-columns: 410px 1fr;
  }
}

.rvo-theme .utrecht-textbox--lg {
  width: 100%;
}

.rvo-theme .small-text {
  font-size: var(--rvo-font-size-xs);
}

.rvo-theme .preserve-whitespace {
    white-space: pre-line;
}
